body{
    background-image:linear-gradient(45deg, #cbb9fc,rgb(255, 255, 255), rgb(237, 190, 245));
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

img{
    width: 350px;
    height: 350px;
    margin-left: 420px;
    margin-top: 50px;
}

h1{
    font-size: 50px;
    margin-left: 405px;
    margin-top:-10px ;
}

p{
    margin-left: 412px;
    font-size: 18px;
    margin-top: -30px;
    margin-bottom: 20px;
    font-weight: bold;
}
