body{
    background-image:linear-gradient(90deg, #e8a6f0,rgb(255, 255, 255), rgb(162, 142, 242));
    font-family: 'Roboto', sans-serif;
}

.logo{
    width:100px;
    height:100px;
    display: flex;
    flex: row wrap;
}

.liberty{
    font-size: 60px;
    margin-left: 200px;
    margin-top:-90px ;
}

.educacao{
    margin-left: 202px;
    font-size: 20px;
    margin-top: -30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.imagemMenina{
    margin-top: -40px;
    margin-left: 200px;
    width:420px;
    height:360px;
}


.frase{
    margin-left: -500px;
    margin-top: -38px;
    font-weight: bold;
    text-align: center;
    
}

form{
    border-radius: 5px;
    margin-left:870px;
    margin-top: -440px;
    width:350px ;
    height: 380px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #ffffff;
  }

.login{
   margin-left: 20px;
   margin-top: 10px;
   font-size: 30px;
   font-weight: bold;
  }

.email{
    margin-left: 20px;
    padding-bottom: -20px;
    font-weight: bold;
    display: flex;
    flex: row wrap;
    
}


.inputEmail{ 
    margin-left: 20px;
    margin-top: -15px;
    width: 300px;
    height: 25px;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex: row wrap;
}


.senha{
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.button{
    background-color: transparent;
    border: none;
    width: 400px;
}


.inputSenha{ 
    margin-left: 20px;
    margin-top: -35px;
    width: 300px;
    height: 25px;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex: row wrap;
}

.senhaerro{
    margin-top: 15px;
    margin-left: 120px; 
    display: flex;
    flex: row wrap;
    font-size: 15px;
    font-weight: bold;
    color: blue;
    padding-bottom: 5px;
}

.iniciarSessao{
    background-color:#952B95;
    color:#ffffff;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 80px;
    margin-top: 10px;
    border-radius: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: none;
    cursor: pointer; 
}

.iniciarSessao:hover{
    color: red;
}



.criarConta{
    background-color: rgb(70, 98, 240);
    color:#ffffff;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 43px;
    padding-right: 43px;
    margin-left: 80px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 15px;
    border:none;
    font-family:Arial, Helvetica, sans-serif;
    cursor: pointer; 
}

.criarConta:hover{
    color: red;
}