<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/footer.css">
    <title>Document</title>
</head>
<body>
    
</body>
<footer>
    <div class="div-footer1">
        <h1 class="footerh1">Tá com duvida?</h1>
        <p class="footerp" href="#">Quem somos</p>
        <img src="imgs/Logo_liberty 1.svg" class="logo-footer">
    </div>
    <div class="div-footer2">
        <h1 class="footer2h1" href="#">Quer saber mais ?</h1>
        <p class="footer2p" href="#">Contato</p>
        <p class="footer2p2" href="#">Trabalhe conosco</p>
        <p class="footer2p3" href="#">Termos</p>
        <p class="footer2p4" href="#">Politica de privacidade</p>
        <p class="footer2p5" href="#">Configurações de cookie</p>
    </div>
    <div class="div-footer3">
        <div>
            <div>
                <h1 class="footer3h1">Fale com a gente</h1>
            </div>
            <img src="imgs/Icon_message.svg" class="icon-message">
            <img src="imgs/Icon_whatsapp.svg" class="icon-whatsapp">
        </div>
        <div>
            <h2 class="footer3h2">Nossas Redes</h2>
            <img src="imgs/Icon_instagram.svg" class="icon-instagram">
            <img src="imgs/Icon_youtube.svg" class="icon-youtube">
            <p class="footer3p">© 2023 Liberty Cursos, Inc</p>
        </div>
    </div>
</footer>
</html>