<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Curso.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Curso</title>
</head>
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="imgs/Logo_liberty 1.svg" class="navbar-logo">
                <p>LIBERTY CURSOS</p>
            </a>
            <input placeholder="Pesquisar..." class="input-navbar">
            <button class="input-button">
                <img src="imgs/Icon_magnifying glass.svg" class="magnifying-glass">
            </button>
           </input>


            <img src="imgs/Shopping_cart.svg" class="icon-navbar">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNavbar" style="cursor:pointer" aria-expanded="true">
                <img src="imgs/Image 17.svg" class="menu-icon">
               </button>

            <div class="navbar-collapse collapse" id="menuNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="perfil">Meu Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a  href="curso">Meus Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a  href="#">Meus Certificados </a>
                    </li>
                    <li class="nav-item">
                        <a  href="editarCurso">Suporte</a>
                    </li>
                    <li class="nav-item">
                        <a  href="#">Configurações </a>
                    </li>
                    <li class="nav-item">
                        <a  href="/">Fazer Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="descrição">
        <h1>HTML e CSS Essencial - Front End Completo para Iniciantes</h1>
        <p>Este curso abrangente de HTML e CSS é projetado para iniciantes e aspirantes a desenvolvedores 
            web que desejam<br> adquirir habilidades fundamentais na criação e estilização de páginas da web.
            Durante o curso, os participantes serão<br> guiados por conceitos básicos 
            e avançados dessas linguagens essenciais para o desenvolvimento web.</p>
        <div class="imagem">
             <img class="imagem-curso"src="imgs/Image 5.svg">
             <button class="button-start"><a href="video">Iniciar Curso</a></button>
             <button class="button-buy"><a href="#" >Comprar</a></button>

        </div>
        <div class="feedback">
            <img src="imgs/Number_5.svg" class="number">
            <img src="imgs/Star.svg" class="stars">
            <img src="imgs/Star.svg" class="stars"> 
            <img src="imgs/Star.svg" class="stars">
            <img src="imgs/Star.svg" class="stars">
            <img src="imgs/Star.svg" class="stars">
            <p>(1230 Avaliações)</p>
            <h1>R$ 99,90</h1>
            <img src="imgs/Icon_clockblue.svg" class="clock">
            <h2>Duração do Curso: 20 Horas</h2>
          </div>
        <hr>
        <div>
          <h1>Objetivos do curso </h1>

          <p> - Ao final do curso, a aluna terá pleno conhecimento
           sobre a estrutura HTML e CSS e terá a habilidade de 
           de criar sites responsivos que 
          funcionam em versões diferentes para 
               celulares e computadores com 100% de compatibilidade.</p>
        </div>
    </div>
    <footer>
        <div class="div-footer1">
             <h1 class="footerh1">Tá com duvida?</h1>
             <p class="footerp" href="#">Quem somos</p>
             <img src="imgs/Logo_liberty 1.svg" class="logo-footer">
        </div>
        <div class="div-footer2">
            <h1 class="footer2h1" href="#">Quer saber mais ?</h1>
            <p class="footer2p" href="#">Contato</p>
            <p class="footer2p2" href="#">Trabalhe conosco</p>
            <p class="footer2p3" href="#">Termos</p>
            <p class="footer2p4" href="#">Politica de privacidade</p>
            <p class="footer2p5" href="#">Configurações de cookie</p>
        </div>
        <div class="div-footer3">
            <div>
                <div>
               <h1 class="footer3h1">Fale com a gente</h1>
                </div>
               <img src="imgs/Icon_message.svg" class="icon-message">
               <img src="imgs/Icon_whatsapp.svg"   class="icon-whatsapp">
            </div>
            <div>
               <h2 class="footer3h2">Nossas Redes</h2>
               <img src="imgs/Icon_instagram.svg"class="icon-instagram">
               <img src="imgs/Icon_youtube.svg"class="icon-youtube">
               <p class="footer3p">© 2023 Liberty Cursos, Inc</p>
            </div>
        </div>
    </footer>
   
    
</body>
</html>