<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Editar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>Editar</title>
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="imgs/Logo_liberty 1.svg" class="navbar-logo">
                <p>LIBERTY CURSOS</p>
            </a>
            <input placeholder="Pesquisar..." class="input-navbar">
            <button class="input-button">
                <img src="imgs/Icon_magnifying glass.svg" class="magnifying-glass">
            </button>
            </input>


            <img src="imgs/Shopping_cart.svg" class="icon-navbar">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNavbar"
                style="cursor:pointer" aria-expanded="true">
                <img src="imgs/Image 17.svg" class="menu-icon">
            </button>

            <div class="navbar-collapse collapse" id="menuNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="perfil">Meu Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a href="curso">Meus Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Meus Certificados </a>
                    </li>
                    <li class="nav-item">
                        <a href="editarCurso">Suporte</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Configurações </a>
                    </li>
                    <li class="nav-item">
                        <a href="/">Fazer Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <form class="edit-image">
        <h1>Foto de Perfil</h1>
        <a href="pefil">X</a>
        <br>
        <img src="imgs/Image 17.svg" class="icon-user">
        <img src="imgs/Rotate.svg" class="rotate">
        <p>Rotate</p>
        <div>
            <div>
                <label for="nome">Nome:</label>
                <input type="email" id="nome" class="input-name">
            </div>

            <div>
                <label for="sobrenome">Sobrenome:</label>
                <input type="email" id="sobrenome" class="input-lastname">
            </div>

            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" class="input-email">
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="edit-bar">
            <div class="icons">
                <img src="imgs/Icon_pencil 2.svg" class="edit" width="50px" height="45px">
                <img src="imgs/Icon_foto.svg" class="upload" width="50px" height="50px">
                <img src="imgs/Icon_trash.svg" class="delete" width="50px" height="45px">
            </div>
            <div class="div-h1">
                <h1 class="h1-editar">Editar</h1>
                <h1 class="h1-upload">Subir Foto</h1>
            </div>
            <div class="div-h1-2">
                <h1 class="h1-excluir">Excluir</h1>
            </div>
    </form>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


</body>

</html>