<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Video.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Video</title>
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="imgs/Logo_liberty 1.svg" class="navbar-logo">
                <p>LIBERTY CURSOS</p>
            </a>
            <input placeholder="Pesquisar..." class="input-navbar">
            <button class="input-button">
                <img src="imgs/Icon_magnifying glass.svg" class="magnifying-glass">
            </button>
           </input>


            <img src="imgs/Shopping_cart.svg" class="icon-navbar">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNavbar" style="cursor:pointer" aria-expanded="true">
                <img src="imgs/Image 17.svg" class="menu-icon">
               </button>

            <div class="navbar-collapse collapse" id="menuNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="Perfil.html">Meu Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a  href="#">Meus Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a  href="#">Meus Certificados </a>
                    </li>
                    <li class="nav-item">
                        <a  href="#">Suporte</a>
                    </li>
                    <li class="nav-item">
                        <a  href="#">Configurações </a>
                    </li>
                    <li class="nav-item">
                        <a  href="Login.html">Fazer Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="video">
        <a href="Curso.html" class="link"><img src="imgs/Icon_back.svg" class="icon-back"></a>
        <p>Voltar</p>
        <img src="imgs/Image 19.svg" class="thumbnail">
        <img src="imgs/Icon_Play.svg" class="icon-play">
        <h1> Aula 1 -  Introdução ao HTML</h1>

     <div class="menu-video">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuVideo" style="cursor:pointer" aria-expanded="true">
            <img src="imgs/Icon_playlist.svg" class="menu-icon">
           </button>

        <div class="navbar-collapse collapse" id="menuVideo">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <img src="imgs/Image 19.svg"> 
                    <a href="#">Introdução ao Html e CSS</a>
                </li>
                <li class="nav-item">
                    <img src="imgs/Image 19.svg"> 
                    <a  href="#">Tudo sobre Tags</a>
                </li>
                <li class="nav-item">
                    <img src="imgs/Image 19.svg"> 
                    <a  href="#">Propriedades do CSS </a>
                </li>
                <li class="nav-item">
                    <img src="imgs/Image 19.svg"> 
                    <a  href="#">Efeitos do Css</a>
                </li>
                <li class="nav-item">
                    <img src="imgs/Image 19.svg"> 
                    <a  href="#">Criando um Site do Zero </a>
                </li>
                <li class="nav-item">
                    <img src="imgs/Image 19.svg"> 
                    <a  href="Login.html">Conclusão do Curso</a>
                </li>
            </ul>
        </div>
     </div>
        
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="comments">
        <h1>Comentarios</h1>
        <div class="comments-one">
          <img src="imgs/Image 18.svg"> 
           <h2>Vanessa</h2>
           <h3> Parabéns, professor! Obrigado pelo curso. </p>
        </div>
        <br>
        <hr>
        <div class="comments-two">
            <img src="imgs/Image 20.svg"> 
             <h2>Leticia</h2>
             <h3> Top! Já estou aqui aprendendo !</p>
          </div>
          <br>
          <hr>
          <div class="comments-three">
            <img src="imgs/Image 21.svg"> 
             <h2>Denise</h2>
             <h3> A edição está de parabéns... </p>
          </div>
        
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <footer>
        <div class="div-footer1">
             <h1 class="footerh1">Tá com duvida?</h1>
             <p class="footerp" href="#">Quem somos</p>
             <img src="imgs/Logo_liberty 1.svg" class="logo-footer">
             
        </div>
        <div class="div-footer2">
            <h1 class="footer2h1" href="#">Quer saber mais ?</h1>
            <p class="footer2p" href="#">Contato</p>
            <p class="footer2p2" href="#">Trabalhe conosco</p>
            <p class="footer2p3" href="#">Termos</p>
            <p class="footer2p4" href="#">Politica de privacidade</p>
            <p class="footer2p5" href="#">Configurações de cookie</p>
        </div>
        <div class="div-footer3">
            <div>
                <div>
               <h1 class="footer3h1">Fale com a gente</h1>
                </div>
               <img src="imgs/Icon_message.svg" class="icon-message">
               <img src="imgs/Icon_whatsapp.svg"   class="icon-whatsapp">
            </div>
            <div>
               <h2 class="footer3h2">Nossas Redes</h2>
               <img src="imgs/Icon_instagram.svg"class="icon-instagram">
               <img src="imgs/Icon_youtube.svg"class="icon-youtube">
               <p class="footer3p">© 2023 Liberty Cursos, Inc</p>
            </div>
        </div>
    </footer>
</body>
</html>